<div class= "container col-12 mb-5 pb-5" style="margin-top: 20px">
  <div class="container" id="main-dashboard">
    <div class="card mb-3" style="border-radius: 10px; padding: 20px; margin: 3px 6px; max-width:100%">
      <div class="row g-0">
        <div class="col-md-4 avatar-box">
          <h5 class="card-title" style="text-align:center;">Welcome <%= @user.first_name %>!</h5>
          <%= user_has_photo?(current_user) %>
        </div>
        <div class="col-md-8 info-box">
          <div class="saldo-box">
            <h2>Balance: <br>
            R$ <%= format("%.2f", @user.fetch_total_income.to_f - @user.fetch_total_expense.to_f) %></h1>
          </div>
          <div class="both-details-box">
            <div class="details-box">
              <p>R$ <%= @user.fetch_total_income %></p>
              <p>Income</p>
            </div>
            <div class="details-box">
              <p>R$ <%= @user.fetch_total_expense %></p>
              <p>Expenses</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3" style="border-radius: 10px; padding:10px; margin: 3px 6px; max-width:30%; max-width:100%">
      <div class="row g-0">
        <h1 style="text-align:center;">Quick Actions</h1>
      </div>
      <div class="container quick-action-buttons">
        <div class="card-quick" data-bs-toggle="modal" data-bs-target="#form-income">
          <h1>+</h1>
          <p>Add Income</p>
        </div>
        <div class="card-quick" data-bs-toggle="modal" data-bs-target="#form-expense">
          <h1>-</h1>
          <p>Add Expense</p>
        </div>
        <div class="card-quick">
          <h2><%= link_to "Stats", stats_path, class: "text-decoration-none" %></h2>
        </div>
      </div>
    </div>
  </div>
  <div class="container flex-direction-row-center justify-content-between mb-4 pb-3">
     <div class="card" style= "border-radius: 15px;">
      <h1>BALANCE VISUALIZATION</h1>
      <%= column_chart @user.transactions.group(:type_transaction).sum(:value), prefix: "R$ " %>
    </div>
    <div class="card" style= "border-radius: 15px;">
      <h1>CATEGORIES VISUALIZATION</h1>
      <%= pie_chart @user.transactions.where(transactions: {category: Transaction::EXPENSE_CATEGORIES}).group(:category).sum(:value), prefix: "R$ " %>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="form-income" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="padding:50px">
      <%= render "form_income", transaction: @transaction %>
    </div>
  </div>
</div>

<div class="modal fade" id="form-expense" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="padding:50px">
      <%= render "form_expense", transaction: @transaction %>
    </div>
  </div>
</div>
