<div class= "container col-12 mb-5 pb-5" style="margin-top: 20px">
  <div class="container justify-content-center card mb-2" style="border-radius: 20px;">
    <div data-controller="user-subscription" data-user-subscription-user-id-value="<%= @user.id %>" >
      <div data-user-subscription-target="stocks">
        <ul class="d-flex justify-content-around mb-0 mt-2">
          <li class="aapl">
            <p class="stock-title">AAPL/Apple</p>
            <p class="stock-value"></p>
          </li>
          <li class="qqq">
            <p class="stock-title">QQQ</p>
            <p class="stock-value"></p>
          </li>
          <li class="ixic">
            <p class="stock-title">IXIC/Nasdaq</p>
            <p class="stock-value"></p>
          </li>
          <li class="btcusd">
            <p class="stock-title">BTC/USD</p>
            <p class="stock-value"></p>
          </li>
          <li class="eurusd">
            <p class="stock-title">EUR/USD</p>
            <p class="stock-value"></p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container justify-content-center">
    <div class="card mb-3" style="border-radius: 15px;">
      <div class="d-flex justify-content-around">
          <div class="d-flex flex-column align-items-center p-2">
            <h5 class="card-title" style="text-align:center;">Welcome <%= @user.first_name %>!</h5>
            <%= user_has_photo?(current_user) %>

            <div class="d-flex flex-column mt-3 p-2" style="border-radius: 20px; box-shadow: 0 14px 21px 0 rgba(0,0,0,.06);">
              <% if current_user.goals.last.nil?  %>
                <h4 data-bs-toggle="modal" data-bs-target="#form-goal">Create Goal</h4>
              <% elsif current_user.goals.last.achieved %>
                <h4><%= current_user.goals.last.name %> Achieved!</h4>
                <h4 data-bs-toggle="modal" data-bs-target="#form-goal">Create New Goal</h4>
              <% elsif current_user.goals.last.cancelled%>
                <h4 data-bs-toggle="modal" data-bs-target="#form-goal">Create New Goal</h4>
              <% else %>
                <h4>Current Goal: <%= current_user.goals.last.name %></h4>
              <% end %>
              <% unless current_user.goals.last.nil? || current_user.goals.last.achieved || current_user.goals.last.cancelled %>
                <div>
                  <h6>Goal: R$ <%= current_user.goals.last.objective %>,00</h6>
                  <h6>Savings: R$ <%= current_user.goals.last.current_value %>,00</h6>
                  <h6 data-bs-toggle="modal" data-bs-target="#form-edit">Add</h6>
                  <h6> <%= link_to "Cancel", cancel_user_goal_path(current_user.goals.last), :method => :put, remote: true %></h6>
                </div>
              <% end %>
            </div>
          </div>

          <div class="info-box">
            <div class="saldo-box">
              <h3>Monthly Balance: <br>
              R$ <%= display_as_currency(@user.fetch_monthly_income.to_f - @user.fetch_monthly_expense.to_f) %></h1>
            </div>
            <div class="both-details-box">
              <div class="details-box" style="margin-right: 5px;">
                <p style="color: green;">R$ <%= display_as_currency(@user.fetch_monthly_income) %></p>
                <p>Monthly Income</p>
              </div>
              <div class="details-box">
                <p style="color: red;">R$ <%= display_as_currency(@user.fetch_monthly_expense) %></p>
                <p>Monthly Expenses</p>
              </div>
            </div>
          </div>
        <div>
          <div class="mb-3 p-2" style="border-radius: 10px; padding:10px; margin: 3px 6px; max-width:30%; max-width:100%">
            <div class="row g-0">
              <h1 style="text-align:center; opacity: 0.7;">Quick Actions</h1>
            </div>
            <div class="container quick-action-buttons">
              <%= link_to(new_user_transaction_path(current_user, @transaction, elem:"income"),
                  data: {bs_toggle:"modal", bs_target:"#incomeModal"}, style:"text-decoration:none", remote: true) do%>
                <%= content_tag :div, class:"card-quick" do %>
                <div> <ion-icon size="large" name="add-circle-outline" style="color:green"></ion-icon> </div>
                    <%= content_tag :p, "Add Income", style:"color:green"%>
                  <% end %>
              <% end %>
              <%= link_to(new_user_transaction_path(current_user, @transaction, elem:"expense"),
                  data: {bs_toggle:"modal", bs_target:"#expenseModal"}, style:"text-decoration:none", remote: true) do%>
                    <%= content_tag :div, class:"card-quick" do %>
                    <div> <ion-icon size="large" name="wallet-outline" style="color:red"></ion-icon> </div>
                    <%= content_tag :p, "Add Expense", style:"color:red"%>
                  <% end %>
              <% end %>
              <div class="card-quick">
              <div> <ion-icon size="medium" name="checkmark-done-outline" style="color:blue"></ion-icon> </div>
                <h2><%= link_to "Stats", stats_path, class: "text-decoration-none" %></h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <%= simple_form_for :stats, url: user_path(anchor: "pie-chart"), method: "GET", html: { class: 'form-inline form-control mb-2', style: "border-radius: 20px;" } do |f| %>
            <%= f.input :date, as: :date, discard_day: true, order: [:month, :year] %>
            <%= f.submit "Search", class: "btn btn-primary", style: "border-radius: 20px;" %>
          <% end %>
    </div>
  </div>

  <div class="container flex-direction-row-center justify-content-between mb-4 pb-3">
     <div class="card col-md-5 p-2" style= "border-radius: 15px;" id="balance-chart">
      <h2>Monthly Balance View</h2>

      <% if params.has_key?(:stats)%>
        <h3><%= Date::MONTHNAMES[params[:stats]["date(2i)"].to_i] %> - <%= params[:stats]["date(1i)"] %></h3>
      <% else %>
        <h3><%= Date::MONTHNAMES[Date.today.month] %> - <%= Date.today.year %></h3>
      <% end %>

      <% if params.has_key?(:stats)%>
        <%= column_chart @user.transactions.where(transactions: {date: Date.new(params[:stats]["date(1i)"].to_i, params[:stats]["date(2i)"].to_i, 1)..Date.new(params[:stats]["date(1i)"].to_i, params[:stats]["date(2i)"].to_i).end_of_month}).group(:type_transaction).sum(:value), prefix: "R$ " %>
      <% else %>
        <%= column_chart @user.transactions.where(transactions: { date: Time.now.beginning_of_month..Time.now.end_of_month }).group(:type_transaction).sum(:value), prefix: "R$ " %>
      <% end %>
    </div>

    <div class="card col-md-5 p-2" style= "border-radius: 15px;" id="pie-chart">
      <h2>Monthly Expenses per Category</h2>

      <% if params.has_key?(:stats)%>
        <h3><%= Date::MONTHNAMES[params[:stats]["date(2i)"].to_i] %> - <%= params[:stats]["date(1i)"] %></h3>
      <% else %>
        <h3><%= Date::MONTHNAMES[Date.today.month] %> - <%= Date.today.year %></h3>
      <% end %>

      <% if params.has_key?(:stats) %>
        <%= pie_chart @user.transactions.where(transactions: {category: Transaction::EXPENSE_CATEGORIES, date: Date.new(params[:stats]["date(1i)"].to_i, params[:stats]["date(2i)"].to_i, 1)..Date.new(params[:stats]["date(1i)"].to_i, params[:stats]["date(2i)"].to_i).end_of_month}).group(:category).sum(:value), prefix: "R$ ", legend: "bottom" %>
      <% else %>
        <%= pie_chart @user.transactions.where(transactions: {category: Transaction::EXPENSE_CATEGORIES, date: Time.now.beginning_of_month..Time.now.end_of_month}).group(:category).sum(:value), prefix: "R$ ", legend: "bottom" %>
      <% end %>
    </div>
  </div>

  <div class="container flex-direction-row-center justify-content-between mb-2 pb-3">
    <div class="card col-md-5" style= "border-radius: 15px; height: fit-content;">
      <h1>Dead Simple News</h1>
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <a href="<%= @news["articles"][0]["url"] %>" target="_blank">
              <% if @news["articles"][0]["urlToImage"].nil? %>
                <img src="https://res.cloudinary.com/dmtwwkxzz/image/upload/v1647536970/Title_xeajj0.jpg" alt="" style="border-radius: 15px; filter: brightness(40%); width: 455px; height: 200px;">
              <% else %>
                <img src="<%= @news["articles"][0]["urlToImage"] %>" class="d-block w-100" alt="..." style="border-radius: 15px; filter: brightness(40%);">
              <% end %>
              <div class="carousel-caption d-none d-md-block" style="font-family: 'Lora', serif;">
                <h5><%= @news["articles"][0]["title"] %></h5>
              </div>
            </a>
          </div>
          <div class="carousel-item">
            <a href="<%= @news["articles"][1]["url"] %>" target="_blank">
              <a href="<%= @news["articles"][1]["url"] %>" target="_blank">
              <% if @news["articles"][1]["urlToImage"].nil? %>
                <img src="https://res.cloudinary.com/dmtwwkxzz/image/upload/v1647536970/Title_xeajj0.jpg" alt="" style="border-radius: 15px; filter: brightness(40%); width: 455px; height: 200px;">
              <% else %>
                <img src="<%= @news["articles"][1]["urlToImage"] %>" class="d-block w-100" alt="..." style="border-radius: 15px; filter: brightness(40%);">
              <% end %>
              <div class="carousel-caption d-none d-md-block" style="font-family: 'Lora', serif;">
                <h5><%= @news["articles"][1]["title"] %></h5>
              </div>
            </a>
          </div>
          <div class="carousel-item">
            <a href="<%= @news["articles"][2]["url"] %>" target="_blank">
              <a href="<%= @news["articles"][2]["url"] %>" target="_blank">
              <% if @news["articles"][2]["urlToImage"].nil? %>
                <img src="https://res.cloudinary.com/dmtwwkxzz/image/upload/v1647536970/Title_xeajj0.jpg" alt="" style="border-radius: 15px; filter: brightness(40%); width: 455px; height: 200px;">
              <% else %>
                <img src="<%= @news["articles"][2]["urlToImage"] %>" class="d-block w-100" alt="..." style="border-radius: 15px; filter: brightness(40%);">
              <% end %>
              <div class="carousel-caption d-none d-md-block" style="font-family: 'Lora', serif;">
                <h5><%= @news["articles"][2]["title"] %></h5>
              </div>
            </a>
          </div>
          <div class="carousel-item">
            <a href="<%= @news["articles"][3]["url"] %>" target="_blank">
              <% if @news["articles"][3]["urlToImage"].nil? %>
                <img src="https://res.cloudinary.com/dmtwwkxzz/image/upload/v1647536970/Title_xeajj0.jpg" alt="" style="border-radius: 15px; filter: brightness(40%); width: 455px; height: 200px;">
              <% else %>
                <img src="<%= @news["articles"][3]["urlToImage"] %>" class="d-block w-100" alt="..." style="border-radius: 15px; filter: brightness(40%);">
              <% end %>
              <div class="carousel-caption d-none d-md-block" style="font-family: 'Lora', serif;">
                <h5><%= @news["articles"][3]["title"] %></h5>
              </div>
            </a>
          </div>
          <div class="carousel-item">
            <a href="<%= @news["articles"][4]["url"] %>" target="_blank">
              <a href="<%= @news["articles"][4]["url"] %>" target="_blank">
              <% if @news["articles"][4]["urlToImage"].nil? %>
                <img src="https://res.cloudinary.com/dmtwwkxzz/image/upload/v1647536970/Title_xeajj0.jpg" alt="" style="border-radius: 15px; filter: brightness(40%); width: 455px; height: 200px;">
              <% else %>
                <img src="<%= @news["articles"][4]["urlToImage"] %>" class="d-block w-100" alt="..." style="border-radius: 15px; filter: brightness(40%);">
              <% end %>
              <div class="carousel-caption d-none d-md-block" style="font-family: 'Lora', serif;">
                <h5><%= @news["articles"][4]["title"] %></h5>
              </div>
            </a>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="card-video col-md-5" style= "border-radius: 15px; border: 1px solid rgba(0, 0, 0, 0.125); height: fit-content; background-color: white;">
      <h1>Dead Simple Education</h1>
      <div>
        <iframe style="border-radius: 15px;" src="https://www.youtube.com/embed/videoseries?list=PL_P33t8sRbsWvqrcX2X4hGAo4o7bDLqYB" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade my_target" id="incomeModal" tabindex="-1" aria-labelledby="incomeModalLabel" aria-hidden="true" data-modal-target="incomeModal">
              <div class="modal-dialog">
                  <div class="modal-content">
                  </div>
                </div>
            </div>

<div class="modal fade my_target" id="expenseModal"  aria-labelledby="expenseModalLabel" tabindex="-1" aria-hidden="true" data-modal-target="expenseModal">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>

<div class="modal fade" id="form-goal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="padding:50px">
      <%= render "form_goal", goal: @goal %>
    </div>
  </div>
</div>

<% unless current_user.goals.last.nil?  %>
  <div class="modal fade" id="form-edit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" style="padding:50px">
        <%= render "form_edit", goal: current_user.goals.last %>
      </div>
    </div>
  </div>
<% end %>
