
<div class="row justify-content-center">
  <div class="container-expenses">
      <div class ="navbar-expenses">
        <div class="add-expense">
          Launch
          <button>
            +
          </button>
        </div>
        <div class="time-selection">
          <button class="button-chevron" > < </button>
          <button class="button-time"> Month </button>
          <button class="button-chevron"> > </button>
        </div>
      </div>
      <div class="table-expenses">
          <div>Filter by...</div>
          <div class = "income-expense">
            <%= button_to "income", user_transactions_path, method: :get, params: {query: "income"} %>
            <%= button_to "expenses", user_transactions_path, method: :get, params: {query: "expense"} %>
            <%= button_to "all", user_transactions_path, method: :get, params: {query: "all"} %>
          </div>
      </div>


       <% @transactions.each do |transaction| %>
       <div class="expense-card">
          <%= transaction.category%>
          <%= transaction.type_transaction =="expense" ? transaction.value * -1 : transaction.value%>
          <%= transaction.tag %>
          <%= transaction.date %>
       </div>
       <% end %>


      <div class="footer-expenses">
        <div>My balance</div>
        <div>
          <%= extract_values(@transactions).reduce(:+) %>
        </div>
      </div>
    </div>
  </div>
</div>
