
<div class="row justify-content-center">
  <div class="container-expenses">
      <div class ="navbar-expenses">
        <div class="add-expense">
          New
            <div class="dropdown-item" data-bs-toggle="modal" data-bs-target="#incomeModal">
                income
            </div>
            <%= render "new", locals: {elem: "income"} %>

            <div class="dropdown-item" data-bs-toggle="modal" data-bs-target="#expenseModal">
                expense
            </div>
            <%= render "new", locals: {elem: "expense"} %>
        </div>
        <div class="time-selection">
          <button class="button-chevron" > < </button>
          <button class="button-time"> Month </button>
          <button class="button-chevron"> > </button>
        </div>
      </div>
      <div class="table-expenses">
          <div>Filter by...</div>
          <div class = "income-expense">
            <%= button_to "income", user_transactions_path, method: :get, params: {query: "Income"} %>
            <%= button_to "expenses", user_transactions_path, method: :get, params: {query: "Expense"} %>
            <%= button_to "all", user_transactions_path, method: :get, params: {query: "all"} %>
          </div>
      </div>


       <% @transactions.each do |transaction| %>
       <div class="expense-card">
            <%= content_tag(:div, transaction.category)%>
            <%= content_tag(:div, transaction.type_transaction =="Expense" ? transaction.value * -1 : transaction.value)%>
            <%= content_tag(:div, link_to("edit", edit_user_transaction_path(current_user, transaction)))%>
            <%= content_tag(:div, link_to("delete", [current_user, transaction], method: :delete)) %>
       </div>
       <% end %>


      <div class="footer-expenses">
        <div>My balance</div>
        <div>
          <%= extract_values(@transactions).reduce(:+) %>
        </div>
      </div>
    </div>
  </div>
</div>






<%#= link_to "edit", edit_user_transaction_path(current_user, transaction), data: {bs_toggle:"modal", bs_target:"#editModal"}, remote: true %>


<%# <div data-bs-toggle="modal" data-bs-target="#editModal" remote = true id= "myEditModal" >
              edit
</div> %>
            <%#= render "edit", transaction: transaction %>


<%#= link_to "edit", edit_user_transaction_path(current_user, transaction), data: {bs_toggle:"modal", bs_target:"#editModal"}, id:"myeditModal", remote: true %>



 <%# <%= button_tag "+",  class: "dropdown",
              id: "expenseDropdown", data: { bs_toggle: "dropdown" },
              'aria-haspopup': true,'aria-expanded': false
          %>
<%#         <div class="dropdown-menu dropdown-menu-end" aria-labelledby="expenseDropdown">


          </div> %>
