<div class="row justify-content-center">
  <div class="container-expenses">
      <div class ="navbar-expenses">
        <div class="add-expense" data-controller="modal">
          New
             <%= button_tag "+",  class: "dropdown",
              id: "expenseDropdown", data: { bs_toggle: "dropdown" },
              'aria-haspopup': true,'aria-expanded': false
            %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="expenseDropdown">
                  <%= link_to "income", new_user_transaction_path(current_user, @transaction, elem:"income"),
                  data: {bs_toggle:"modal", bs_target:"#incomeModal", action:"click->modal#displayModal"}, remote: true, class:"dropdown-item"%>

            <%= link_to "expense", new_user_transaction_path(current_user, @transaction,  elem: "expense"),
              data: {bs_toggle:"modal", bs_target:"#expenseModal", action:"click->modal#displayModal"}, remote: true, class:"dropdown-item"%>
            </div>

            <div class="modal fade my_target" id="incomeModal" tabindex="-1" aria-labelledby="incomeModalLabel" aria-hidden="true" data-modal-target="incomeModal">
              <div class="modal-dialog">
                  <div class="modal-content">
                  </div>
                </div>
            </div>

            <div class="modal fade my_target" id="expenseModal"  aria-labelledby="expenseModalLabel" tabindex="-1" aria-hidden="true" data-modal-target="expenseModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                    </div>
                </div>
            </div>
        </div>
        <div class="time-selection">
          <button class="button-chevron" > < </button>
          <button class="button-time"> Month </button>
          <button class="button-chevron"> > </button>
        </div>
      </div>
      <div class="table-expenses">
          <div>Filter by...</div>
          <div class = "income-expense">
            <%= button_to "income", user_transactions_path, method: :get, params: {query: "Income"} %>
            <%= button_to "expenses", user_transactions_path, method: :get, params: {query: "Expense"} %>
            <%= button_to "all", user_transactions_path, method: :get, params: {query: "all"} %>
          </div>
      </div>

       <%= render @transactions.sort_by(&:date)%>

       <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
          <div class="modal-dialog">
              <div class="modal-content">
              </div>
          </div>
        </div>

      <div class="footer-expenses">
        <div>My balance</div>
        <div>
          <%= extract_values(@transactions) %>
        </div>
      </div>
    </div>
  </div>
</div>
