<h1>Here are your stats</h1>

<h1>Welcome <%= @user.first_name %>!</h1>

<%= simple_form_for :search, url: stats_path, method: "GET", html: { class: 'form-inline' } do |f| %>
  <%= f.input :category, :collection => Transaction::EXPENSE_CATEGORIES %>
  <%= f.submit "Search", class: "btn btn-primary" %>
<% end %>

<div class="container">
  <% if params.has_key?(:search) %>
    <%= line_chart @user.transactions.where(transactions: {category: params[:search][:category]}).group_by_day(:date).sum(:value) %>
  <% else %>
    <%= line_chart @user.transactions.group_by_day(:date).sum(:value) %>
  <% end %>
  <%= line_chart @user.transactions.group_by_week(:date).sum(:value) %>
  <%= line_chart @user.transactions.group_by_month(:date).sum(:value) %>
</div>

# line_chart @user.transactions.where(transactions: {category: params[:search][:category]}).group_by_day(:date).sum(:value)
